<header class="site-header">
  <div id="particles-header"></div>
  <div class="header-overlay"></div>
  <div class="header-inner">
    <div class="brand-top-left">
      <a href="{{ site.baseurl }}/" class="brand" aria-label="Renchise home">
        <img src="{{ site.baseurl }}/assets/images/Renchise.png" alt="Renchise brand logo" class="brand-mark" />
      </a>
    </div>
    <nav class="nav" aria-label="Primary navigation">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/vaultstudio/">VaultStudio</a>
      <a href="{{ site.baseurl }}/vouchlink/">VouchLink</a>
      <a href="{{ site.baseurl }}/blog.html">Updates</a>
      <a href="{{ site.baseurl }}/contact.html">Test & Contact</a>
    </nav>
  </div>
</header>
